@import "starter";
@import "mixins";
/*------- GLOBAL -------*/

body {
    background: url(../img/bg.jpg);
    @include bgBasic;
    background-attachment: fixed;
    padding: 100px 0;
    @media (max-width: 769px) {
        padding: 10px 0;
    }
}
main {
    margin: 0 auto;
    width: 80%;
    background-color: $white;
    @media (max-width: 769px) {
        width: 95%;
    }
}
button {
    font-family: $textFont;
    font-size: 1.2rem;
    border: 2px solid $white;
    color: $white;
    padding: 0.5em 1.3em;
    border-radius: 5px;
    text-transform: uppercase;
    background: transparent;
    margin-top: 30px;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background: $textColor;
    }
}
h2 {
    color: $primaryColor;
    font-size: 2.7rem;
    text-align: center;
    text-shadow: 0 0 5px $textColor;
    @media (max-width: 769px) {
        font-size: 2.2rem;
    }
}
/*--- header ---*/
header {
    background-image: url(../img/kamp1.jpg);
    @include bgBasic;
    padding: 150px 0;
    @media (max-width: 769px) {
        @include flex(center, center, column) padding: 0;
        height: 100vh;
    }
    article {
        background: linear-gradient(to right, rgba($textColor, 0.6), rgba($primaryColor, 0.8));
        color: $white;
        width: 70%;
        margin: 0 auto;
        padding: 70px 40px;
        text-align: center;
        border-radius: 20px;
        @media (max-width: 769px) {
            width: 95%;
        }
        h1 {
            font-size: 3rem;
            font-weight: 300;
            span {
                width: 100%;
                font-weight: 700;
            }
        }
        h4 {
            font-size: 1.3rem;
        }
    }
}

/*--- about ---*/
.about {
    text-align: center;
    h2 + p {
        margin-bottom: 30px;
    }
}
/*--- cta ---*/
.cta {
    @include flex(space-between, stretch);
    @media (max-width: 769px) {
        flex-direction: column;
    }
    article {
        height: 40vh;
        &:first-child {
            @include flex(center, flex-start, column);
            flex: 0 0 55%;
            background-color: $primaryColor;
            padding: 0 60px;
            @media (max-width: 769px) {
                padding: 30px;
            }
        }
        &:last-child {
            flex: 0 0 45%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        h4 {
            color: $white;
            font-size: 1.5rem;
            text-shadow: 0 0 5px $textColor;
            margin-bottom: 30px;
        }
    }
}

/*--- gallery ---*/
.gallery {
    text-align: center;
    h3 {
        @extend h2;
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    article {
        margin-top: 30px;
    }
}

/*--- footer ---*/
footer {
    background: linear-gradient(to right, rgba($secondaryColor, 0.7), $primaryColor);
    text-align: center;
    h2 {
        color: $white;
    }
    form {
        width: 40%;
        margin: 0 auto;
        @include flex(space-between, center);
        @media (max-width: 769px) {
            width: 95%;
        }
    }
    input {
        @extend button;
        text-transform: none;
        flex: 1;
        margin-right: 5px;
        cursor: unset;
        &:hover {
            background-color: transparent;
        }
        &::placeholder {
            color: $textColor;
        }
    }
    button {
        @media (max-width: 769px) {
            flex-grow: 1;
        }
    }
}

/*--- news ---*/
.news {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: $primaryColor;
    text-align: center;
    padding: 1em 0;
    transform: scaleY(0);
    transition: $transition;
    transform-origin: center bottom;
    a {
        color: blue;
        text-decoration: underline;
    }
    &.showNews {
        transform: scaleY(1);
    }
}
/*--- header ---*/
